<div class="container">

  <div class="title-container">
    <h1>Activities</h1>
    <p>Guests can wander through grand halls and royal chambers, experiencing the majesty of Ludwig II’s vision firsthand. </p>

    <div class="banner">
    </div>
  </div>

  <div class="outdoor-container">

    <div class="activities-text">
      <h2>Outdoor Activities</h2>
      <p>Scenic carriage rides and guided tours of the surrounding alpine trails offer breathtaking views of forests, lakes, and mountains. </p>
    </div>

    <div class="activities-img-container">

      <div class="garden-tour-container img-item">
        <img src="assets/garden-tour.jpg" alt="garden">
        <h3>Outdoor Tour</h3>
      </div>

      <div class="hiking-container img-item">
        <img src="assets/nature-walk.jpg" alt="the woods">
        <h3>Hiking</h3>
      </div>

      <div class="boat-ride-container img-item">
        <img src="assets/boat-ride.jpg" alt="boat on lake">
        <h3>Boat Ride</h3>
      </div>
    </div>


  </div>

  <div class="indoor-container">

    <div class="activities-text">
      <h2>Indoor Activities</h2>
      <p>In the evenings, guests can indulge in fine dining, classical concerts, or stargazing from the castle’s towers.</p>
    </div>
  </div>

  <div class="activities-img-container">

    <div class="tea-container img-item">
      <img src="assets/tea.jpg" alt="tea">
      <h3>Tea and Story Time</h3>
    </div>

    <div class="historical-tour-container img-item">
      <img src="assets/historical.jpg" alt="castle room">
      <h3>Historical Tour</h3>
    </div>

    <div class="dining-container img-item">
      <img src="assets/royal-hall.jpg" alt="royal hall">
      <h3>Fine Dining</h3>
    </div>

  </div>



</div>
