<div class="container">

  <div class="footer-top">

    <ul>
      <li class="footer-title"><strong>Address</strong></li>
      <li class="footer-title"><strong>Contact</strong></li>
      <li class="footer-title"><strong>Other</strong></li>
    </ul>

    <hr>
    <ul>
      <li>Hohenschwangau</li>
      <li>Schwangau</li>
      <li>Fussen</li>

      <li>+49 123 32 13321</li>
      <li>contact&#64;castleneuschwanstein.de</li>
      <li>Careers</li>

      <li>General conditions individual travel</li>
      <li>General conditions group reservations</li>
      <li>Privacy policy</li>
    </ul>
  </div>


  <div class="button-container">
    <button>Newsletter</button>
  </div>


  <hr>



  <div class="footer-bottom">

    <p>2025 R 8908098908</p>

    <div class="logo">

      <h1>Neuschwanstein Castle</h1>

      <img src="assets/logo.png" alt="castle logo">
    </div>

    <p class="last-item">Instagram</p>
    <p class="last-item">Facebook</p>
  </div>


</div>
