<div class="container">
  <div class="title">
    <h1>Seasons</h1>
    <hr>
  </div>

  <div class="img-container">

    <div class="img">
      <img src="assets/lake.jpg">
      <h3>Spring at the lake</h3>
      <p>Enjoy a scenic boat ride and witness the natural beauty of the lake.</p>
    </div>
    <div class="img">
      <img src="assets/autumn.jpg" alt="autumn">
      <h3>Autumn in the mountains</h3>
      <p>Hike the mountains and enjoy the changing of colors.</p>
    </div>

    <div class="img">
      <img src="assets/fussen.jpg" alt="fussen village">
      <h3> Summer in Fussen Village</h3>
      <p>Visit the idyllic village at the base of the mountains. </p>
    </div>

    <div class="img">
      <img src="assets/winter.jpg" alt="winter">
      <h3>Winter Celebration</h3>
      <p>A fairytale castle in the snowy alps.</p>
    </div>

  </div>
</div>
