<div class="container">
  <hr>
  <div class="main-content">
    <div class="castle-img-container">
      <img src="assets/contact-castle.jpg" alt="castle">
    </div>

    <div class="castle-text-container">
      <h3>At Your Service</h3>
      <p>Reservations and enquiries:</p>
      <p>bookings&#64;neuschwanstein.de</p>
      <br>
      <p><strong>Address</strong></p>
      <p>Schlossverwaltung Neuschwanstein</p>
      <p>Neuschwansteinstraße 20</p>
      <p>D-87645 Schwangau</p>
      <br>
      <p><strong>Telephone</strong></p>
      <p>+49 234 3923 90322-0</p>
      <p><strong>Infoline</strong></p>
      <p>+49 3223 23245-77</p>
      <p><strong>Fax</strong></p>
      <p>49 3123 31223-99</p>
      <br>
      <p><strong>Email</strong></p>
      <p>info&#64;neuschwanstein.de</p>
    </div>
  </div>


  </div>
