<div class="container">
  <div class="title-container">
    <h1>Restaurants</h1>
    <p>Our history blends with the history of the world, and its walls have seen a unique, and uniquely long, list of discerning guests. A highlight of their journey was to savor the taste of the mountains in enchanting surroundings, which for many still is a reason to have Neuschwanstein Castle as their destination. Please be seated for breakfast, lunch, and dinner, and for the sunny days in our garden by your choice.
    </p>
  </div>
  <hr>

  <div class="restaurants-container">
    <div class="bar-container res-item">
      <img src="assets/bar.jpg" alt="woman at bar">
      <h3>The Bar</h3>
      <p>Cocktails and vintage wine.</p>
      <button>&#8594;</button>
    </div>

    <div class="royal-hall-container res-item">
      <img src="assets/royal-hall.jpg" alt="royal hall">
      <h3>Royal Hall</h3>
      <p>A fine dining experience with a seasonal menu.</p>
      <button>&#8594;</button>
    </div>

    <div class="conservatory-container res-item">
      <img src="assets/conservatory.jpg" alt="conservatory">
      <h3>The Conservatory</h3>
      <p>Our favorite snacks and small plate servings.</p>
      <button>&#8594;</button>
    </div>
  </div>

  <div class="chef-container">
    <div class="chef-img-container">
      <img src="assets/chef.jpg" alt="">
      <div class="button-container">
        <button>&#8592;</button>
        <p class="number">1/3</p>
        <button>&#8594;</button>
      </div>

    </div>

    <div class="chef-text-container">
      <h3>A Taste of the Mountains</h3>
      <p>Nestled in the Bavarian Alps, the cuisine around Neuschwanstein Castle is as hearty and comforting as the landscape itself. Local dishes highlight mountain flavors—fresh trout from Alpine lakes, wild venison and boar from the surrounding forests, and earthy mushrooms gathered from wooded slopes. Rustic staples like spätzle, warm potato salad, and red cabbage are elevated by rich gravies and berry sauces made from lingonberries and apples grown nearby. Sweet endings often feature airy kaiserschmarrn or apple strudel, paired with a glass of crisp Bavarian beer or fruity schnapps. It’s a cuisine that blends royal tradition with the soul of the mountains.
      </p>
    </div>
  </div>
</div>
