<div class="container">
  <div class="title-container">
    <h1>Special Occasions</h1>
    <hr>
  </div>

  <div class="img-container">
    <div class="weddings img-item">
      <img src="assets/wedding.jpg" alt="wedding">
      <div class="wedding-text text-item">
        <h3>Weddings</h3>
      <button>&#8594;</button>
      </div>
    </div>

    <div class="events img-item">
      <img src="assets/events.jpg" alt="event hall">
      <div class="event-text text-item">
        <h3>Events</h3>
      <button>&#8594;</button>
      </div>

    </div>

    <div class="christmas img-item">
      <img src="assets/christmas.jpg" alt="christmas">
      <div class="christmas-text text-item">
        <h3>Christmas Celebration</h3>
        <button>&#8594;</button>
      </div>

    </div>
  </div>

</div>
