<div class="container">

  <header>

  </header>

  <section>
    <div class="input-container">
      <div class="arrival">
        <label for="arrival">ARRIVAL</label>
        <input type="date" placeholder="ARRIVAL">
      </div>
      <div class="departure">
        <label for="departure">DEPARTURE</label>
        <input type="date" placeholder="DEPARTURE">
      </div>
      <div class="adults">
        <label for="adults">ADULTS</label>
        <input type="number">
      </div>
      <div class="rooms">
        <label for="rooms">ROOMS</label>
        <input type="number">
      </div>
      <button class="check-btn">Check availability</button>
    </div>

    <div class="section-text">
        <h1>Follow the footsteps of adventurers, royals,writers, and lovers to Neuschwanstein Castle</h1>
    </div>

    <div class="img-container">

      <div class="autumn-container img-item">
        <img class="" src="assets/autumn-home.jpg" alt="autumn woods">
        <h3>Autumn in the Bavarian Mountains</h3>
        <p>The mountains and Bavaria’s natural beauty are even more beautiful with the fall colors and misty cold mornings.</p>
      </div>

      <div class="alps-container img-item">
        <img src="assets/alps.jpg" alt="alps">
        <h3>Hiking the Alps</h3>
        <p>Unforgettable and adventurous hikes right outside your room’s window.</p>
      </div>

      <div class="village-container img-item">
        <img src="assets/winter-village.jpg" alt="winter village">
        <h3>Festive getaway at Hohenschwangau Village</h3>
        <p>Enjoy the pre-christmas magic at our historic nearby village</p>
      </div>
    </div>
  </section>

  <section>
    <div class="details-container">
      <div class="blueberry-container detail-item">
        <img class="blueberry" src="assets/blueberry.png" alt="blueberry">
        <h3>Rooms and Suites</h3>
        <p>History combined with luxury and modern comfort.</p>
        <button routerLink="/rooms">&#8594;</button>
      </div>

    <div class="bird-container detail-item">
      <img class="bird" src="assets/bird-branch.png" alt="bird">
      <h3>Restaurants</h3>
      <p>The region's great traditions and the best local produce.</p>
      <button routerLink="/restaurants">&#8594;</button>
    </div>

    <div class="leaf-container detail-item">
      <img class="leaf" src="assets/leaf-2.png" alt="leaf">
      <h3>Activities</h3>
      <p>Explore our pristine surroundings with an adventure.</p>
      <button routerLink="/activities">&#8594;</button>
    </div>

    </div>
  </section>

  <section class="hotel-info">

    <div class="castle-img-container">
      <img src="assets/fog-castle.jpg" alt="fog castle">
      <div class="btn-container">
        <button>&#8592;</button>
        <p>1/4</p>
        <button>&#8594;</button>
      </div>

    </div>

    <div class="castle-text-container">
      <div class="castle-text">
        <h3>Explore more with</h3>
        <h1>49&#176; Deutsch Hotels</h1>
        <h3>& Adventures</h3>
        <br>

        <p>49&#176;DEUTSCH invites travelers to discover the essence of Germany through a seamless blend of heritage, adventure, and refined luxury. From the romantic castles of Bavaria to the vibrant streets of Berlin and the serene vineyards along the Rhine, guests are guided by local experts into authentic and breathtaking experiences. Whether it's hiking through the Bavarian Alps, cycling along the Moselle, skiing in the Black Forest, or gliding down the Danube on a private river cruise, every journey is designed to immerse guests in Germany's iconic landscapes. With access to luxury automobiles, curated excursions, and a collection of boutique hotels in historic towns and natural havens, 49&#176;DEUTSCH offers elevated stays for the discerning traveler.</p>
        <br>
        <p>In addition to adventure and hospitality, 49&#176;DEUTSCH curates moments that honor Germany's cultural heritage. Guests are invited to explore world-class museums, savor Michelin-starred dining rooted in local tradition, and engage in sustainable practices that support regional communities. By celebrating craftsmanship, history, and eco-conscious innovation, 49&#176;DEUTSCH creates unforgettable experiences that connect travelers not only to place, but to the enduring spirit of Germany.</p>
    </div>
      </div>


  </section>

  <section>
    <div class="social-container">
      <hr>
      <p>Follow our journey</p>

      <div class="media-img">
        <img src="assets/deer.jpg" alt="deer">
        <img src="assets/chair.jpg" alt="chair">
        <img src="assets/lake-square.jpg" alt="lake">
        <img src="assets/owl.jpg" alt="owl">
        <img src="assets/binoculars.jpg" alt="woman with binoculars">
        <img src="assets/bread.jpg" alt="bread">

      </div>
      <hr>
    </div>

  </section>

  <p class="update">Stay updated</p>

  <section class="update-container">


    <div class="newsletter-container">
      <h3>Pure German luxury - in your inbox</h3>

      <div class="email-container">
        <input type="text" placeholder="Email-address">
        <button>Receive newsletter</button>
      </div>
    </div>
  </section>
</div>
