<div class="container">

  <div class="title">
    <h1>Rooms and Suites</h1>
    <hr>
    <p> Step inside a world tresuring the olden times, when traveling meant introspective discovery, long days of reading and hiking adventures in tweed. Kaiser Wilhelm, Queen Maud, King Oscar, Karen Blixen, Knut Hamsun, Sir Arthur Conan Doyle, Edvard Grieg, Henrik Ibsen, William Cecil Slingsby, Roald Amudsen, Kristofer Randers… all fell in love with our country right here, within these walls. </p>
  </div>


  <div class="img-container">
    <div class="suite img-item">
      <img src="assets/suite.png" alt="suite icon">
      <h3>Suite</h3>
    </div>

    <div class="junior-royale img-item">
      <img src="assets/junior.png" alt="crown">
      <h3>Junior Royal Suite</h3>
    </div>

    <div class="junior-garden img-item">
      <img src="assets/tree.png" alt="tree">
      <h3>Junior Garden Suite</h3>
    </div>
  </div>


  <div class="img-container">
    <div class="royal-suite img-item">
      <img src="assets/chair.png" alt="chair">
      <h3>Royal Suite</h3>
    </div>

    <div class="elegance-suite img-item">
      <img src="assets/loveseat.png" alt="loveseat">
      <h3>Elegance Suite</h3>
    </div>

    <div class="king-suite img-item">
      <img src="assets/king.png" alt="king crown">
      <h3>King Suite</h3>
    </div>
  </div>


  <div class="img-container">
    <div class="deluxe-room img-item">
      <img src="assets/deluxe.png" alt="harp">
      <h3>Deluxe Room</h3>
    </div>

    <div class="classic-room img-item">
      <img src="assets/two-angels.png" alt="two angels">
      <h3>Classic Room</h3>
    </div>
  </div>




</div>
