
h1 {
  font-family: "Cinzel Decorative", 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 4rem;
  padding: 2rem;
}

p {
  max-width: 50%;
  font-size: 2.4rem;
  margin: 0 auto;
  text-align: center;
  padding: 3rem 0 4rem 0;
  line-height: 4rem;
}

.title {
  background-color: var(--tan);
}

img {
  max-width: 50%;
}

.suite img {
  max-width: 20%;
}

.img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 5rem;
  text-align: center;
}


.img-item {
  margin: 0 auto;
  text-align: center;
  width: 300px;
}

.img-item h3 {
  margin-top: 4rem;
}

h3 {
  font-size: 2.4rem;
  padding: 2rem;
  font-family: "the-seasons";
}


/* ********************* */
/* BEGIN MEDIA QUERIES */
/***********************/

/* 1400px */
@media(max-width: 88em) {

  h1 {
    font-size: 2.8rem;
  }

  p {
    font-size: 2rem;
    line-height: 3rem;
    padding: 2rem;
    max-width: 65%;
  }

  h3 {
    font-size: 2rem;
  }
}

/* 1100px */
@media(max-width: 69em) {

  p {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

/* 800px */
@media(max-width: 50em) {

  h1 {
    font-size: 2.2rem;
  }

  p {
    font-size: 1.4rem;
  }

  .suite img {
    width: 20%;
  }

  .deluxe-room img {
    width: 40%;
  }

  .img-item {
    margin: 4rem 0 4rem 0;
  }
}

/* 500px */
@media(max-width: 31em) {
  p {
    max-width: 90%;
  }


}
